[general]
botconf      = /opt/idlerpg/.irpg.conf
network      = NetworkShortname
network_full = Your Long Network Name
webroot      = /

[maps]
visual_map_width  = 500
visual_map_height = 500
map_file          = /var/www/example.com/idlerpg/assets/mapfile.png
map_error_url     = https://idlerpg.example.com/assets/mapfile-error.png
dot_size          = 8
